[Unit]
Description=RFKill-Unblock-All
After=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/rfkill unblock all

[Install]
WantedBy=multi-user.target
